<aside class="bg-[#2f855a] w-56 flex flex-col justify-between text-[#d1d5db]">
  <div>
    <div class="pl-8 p-6 pt-8">
      <img
        alt="sipedi"
        class="w-40"
        src="/images/logo-sipedi.png"
      />
    </div>
    <nav class="mt-6 flex flex-col gap-1 text-sm font-semibold">
      <a
        class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a] text-white font-bold"
        href="/petugas/dashboard"
        ><i class="fas fa-home"></i> Dashboard</a
      >
      <a
        class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a]  text-white"
        href="/petugas/peminjaman"
        ><i class="fas fa-book-reader"></i> Peminjaman</a
      >
      <a class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a] text-white" href="/petugas/pengembalian"
        ><i class="fas fa-undo-alt"></i> Pengembalian</a
      >
      <a class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a] text-white" href="/petugas/denda"
        ><i class="fas fa-exclamation-triangle"></i> Denda</a
      >
      <a class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a] text-white" href="/petugas/stokbuku"
        ><i class="fas fa-boxes"></i> Stok Buku Fisik</a
      >
      <a class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a] text-white" href="/petugas/profil"
        ><i class="fas fa-user"></i> Akun</a
      >
    </nav>
  </div>
  <div class="border-t border-[#3c9a6a]">
    <a
      class="flex items-center gap-3 px-6 py-3 text-white hover:text-white"
      href="/logout"
      ><i class="fas fa-sign-out-alt"></i> Logout</a
    >
  </div>
</aside>
