<aside class="fixed top-0 left-0 bg-[#2f855a] w-56 flex flex-col justify-between text-[#d1d5db] min-h-screen">
  <div>
    <div class="pl-8 p-6 pt-8">
      <img alt="Logo icon with letter S in green background" class="w-40" src="/images/logo-sipedi.png" />
    </div>
    <nav class="mt-6 flex flex-col gap-1 text-sm font-semibold">
      <a class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a]" href=/admin/dashboard>
        <i class="fas fa-home"></i> Dashboard
      </a>
      <a class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a]" href="#">
        <i class="fas fa-users"></i> Data Petugas
      </a>
      <a class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a]" href="/admin/datamahasiswa">
        <i class="fas fa-graduation-cap"></i> Data Mahasiswa
      </a>
      <a class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a]" href=/admin/databuku>
        <i class="fas fa-book"></i> Data Buku
      </a>
      <a class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a]" href="/admin/kategori">
        <i class="fas fa-cogs"></i> Kategori Buku
      </a>
      <a class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a]" href="#">
        <i class="fas fa-file-alt"></i> Laporan
      </a>
      <a class="flex items-center gap-3 px-6 py-3 hover:bg-[#3c9a6a]" href="#">
        <i class="fas fa-user"></i> Akun
      </a>
    </nav>
  </div>
  <div class="border-t border-[#3c9a6a]">
    <a class="flex items-center gap-3 px-6 py-3 text-[#d1d5db] hover:text-white" href="/logout">
      <i class="fas fa-sign-out-alt" ></i> Logout
    </a>
  </div>
</aside>
